<%  
    let arrBox = [
        {name: 'Menulv1', icon: 'ion-ios-keypad', link: `${systemConfig.prefixAdmin}/menulv1`, total: countItems.menulv1},
        {name: 'Menulv2', icon: 'ion-ios-keypad', link: `${systemConfig.prefixAdmin}/menulv2`, total: countItems.menulv2},
        {name: 'Menulv3', icon: 'ion-ios-keypad', link: `${systemConfig.prefixAdmin}/menulv3`, total: countItems.menulv3},
        {name: 'Sliders', icon: 'fas fa-sliders-h', link: `${systemConfig.prefixAdmin}/sliders`, total: countItems.sliders},
        {name: 'Banners', icon: 'far fa-image', link: `${systemConfig.prefixAdmin}/banners`, total: countItems.banners},
        {name: 'Brands', icon: 'fab fa-bandcamp', link: `${systemConfig.prefixAdmin}/brands`, total: countItems.brands},
        {name: 'Products', icon: 'fas fa-tshirt', link: `${systemConfig.prefixAdmin}/products`, total: countItems.products},
        {name: 'Groups', icon: 'fas fa-layer-group', link: `${systemConfig.prefixAdmin}/groups`, total: countItems.groups},
        {name: 'Users', icon: 'fas fa-users', link: `${systemConfig.prefixAdmin}/users`, total: countItems.users},
    ];

    let xhtmlBox = '<div class="d-flex flex-wrap">'
    arrBox.forEach(box => {
        xhtmlBox += `<div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>${box.total}</h3>
                                <p>${box.name}</p>
                            </div>
                            <div class="icon text-white">
                                <i class="${box.icon}"></i>
                            </div>
                            <a href="${box.link}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>`;
    }); 
    xhtmlBox += '</div>'  
%>

<%- xhtmlBox %>
<% include ./list %> 