<% if (errors) { %>
    <div class="alert bg-danger">
        <h5 class="text-white mb-1"><i class="icon fas fa-exclamation-triangle"></i> Error!</h5>
        <ul class="list-unstyled mb-0">
            <% errors.forEach((error)=> { %>
                <% if(error.param.includes("[0]")) error.param = error.param.slice(0, error.param.length - 3) %> 
                <li class="text-white"><b><%= error.param.charAt(0).toUpperCase() + error.param.slice(1) %></b>: <%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>


