<div class="side-bar ">
    <div class="user-info">
        <img class="img-profile img-circle img-responsive center-block"
            src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
        <br>
        <span><%= userInfo.name %></span>
    </div>
    <nav class="side-menu">
        <ul class="nav">
            <li ><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
            <li><a href="/orders"><span class="fas fa-shopping-cart"></span> Orders</a></li>
            <li><a href="/orders/search"><span class="fas fa-search"></span> Orders lookup</a></li>
            <li><a href="#"><span class="fas fa-heart"></span> Favorite products</a></li>
        </ul>
    </nav>
</div>