<!-- Page Title
		============================================= -->
<section id="page-title">
	<div class="container">
		<h1>Cart</h1>
	</div>
</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">
			<table class="table cart mb-3">
				<thead>
					<tr>
						<th class="cart-product-remove">&nbsp;</th>
						<th class="cart-product-thumbnail">&nbsp;</th>
						<th class="cart-product-name">Product</th>
						<th class="cart-product-price">Price</th>
						<th class="cart-product-quantity">Quantity</th>
						<th class="cart-product-subtotal">Total</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr class="cart_item">
						<td class="cart-product-remove">
							<a href="#" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
						</td>
						<td class="cart-product-thumbnail">
							<a href="#"><img width="64" height="64" src="canvas/images/shop/thumbs/small/dress-3.jpg"
									alt="Pink Printed Dress"></a>
						</td>
						<td class="cart-product-name">
							<a href="#">Pink Printed Dress</a>
						</td>
						<td class="cart-product-price">
							<span class="amount">$19.99</span>
						</td>
						<td class="cart-product-quantity">
							<div class="quantity">
								<input type="button" value="-" class="minus">
								<input type="text" name="quantity" value="2" class="qty" />
								<input type="button" value="+" class="plus">
							</div>
						</td>
						<td class="cart-product-subtotal">
							<span class="amount">$39.98</span>
						</td>
					</tr> -->
					<tr class="cart_item">
						<td colspan="4">
						</td>
						<td class="cart-product-name text-center">
							<strong style ="margin:0;">TOTAL ORDER</strong>
						</td>
						<td class="cart-product-name text-center">
							<span class="amount color lead"><strong></strong></span>
						</td>
					</tr>
					
				</tbody>
			</table>
			<div class="row justify-content-between py-2 col-mb-30 navigation-button">
				<div class="col-lg-auto ps-lg-0">
				</div>
				<div class="col-lg-auto pe-lg-0">
					<a href="/" class="button button-3d m-0">Keep shopping</a>
					<a href="/cart/checkout" class="button button-3d mt-2 mt-sm-0 me-0">Proceed to
						Checkout</a>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->