<!DOCTYPE html>
<html>

<head>
    <% include ./elements/head %>
</head>

<body class="">
    <div >
        <div class="d-flex justify-content-center align-items-center vh-100">
            <%- body %>
        </div>
    </div>

    <!-- script -->
    <% include ./elements/script %>
</body>

</html>