<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-inline-block">
        <b>Number:</b> 0342257644
        ||
        <b>Email:</b> nhattuannguyen12c6@gmail.com
    </div>
</footer>