<% 
selecBoxHelper = (name,categoryItems,optionSelected="",keyword,addClass='',collection='',idItem='') => {
    const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
    let xhtml = "";
    let key;
    if(keyword !== "" && keyword !== undefined) key = '?keyword=' + keyword;

    categoryItems.forEach((item) => {
        let selected = (item.id == optionSelected) ? 'selected="selected"' : '';
        let id = (item.id == undefined) ? 'novalue':item.id;
        if (item.id !== idItem) xhtml += `<option value="${id}" ${selected}>${item.name}</option>`
    });
    
    if(collection == ''){
        return `<select data-keyword="${key}" name="${name}" class="form-control">${xhtml}</select>`;
    }
    return `<select data-link="${linkPrefix}" data-id="${idItem}" name="${name}" class="form-control ${addClass}">${xhtml}</select>`;
}
%>
