<% 
    loadMenu = (itemsMenulv1,itemsMenulv2,itemsMenulv3) => {
        let html='';
        itemsMenulv1.forEach((item) =>{
            html += 
            `<li class="menu-item mega-menu">
                <a class="menu-link" href="/">
                    <div>${item.name}</div>
                </a>`;
                html += handleMenulv2(itemsMenulv2,itemsMenulv3,item);
            html += `</li>`;
        });
        return html;
    }

    handleMenulv2 = (itemsMenulv2,itemsMenulv3,itemMenulv1) => {
        let html ='';
        for(let i=0; i<itemsMenulv2.length; i++){
            if(itemMenulv1.id == itemsMenulv2[i].menulv1[0]){
                html += `<div class="mega-menu-content mega-menu-style-2">
                    <div class="container">
                        <div class="row">` ;
                break;
            }
        };
        itemsMenulv2.forEach((item2) =>{
            if(itemMenulv1.id == item2.menulv1[0]){
                html += 
                `<ul class="sub-menu-container mega-menu-column col-lg">
                    <li class="menu-item mega-menu-title"><a class="menu-link" href="/category/${itemMenulv1.slug+'/'+item2.slug}"><div>${item2.name}</div></a>`;
                        html += handleMenulv3(itemsMenulv3,item2,itemMenulv1);
                html += `</li></ul>`;
            }
        });
        for(let i=0; i<itemsMenulv2.length; i++){
            if(itemMenulv1.id == itemsMenulv2[i].menulv1[0]){
                html += `</div></div></div>` ;
                break;
            }
        };
        return html;
    }

    handleMenulv3 = (itemsMenulv3,itemMenulv2,itemMenulv1) => {
        let html ='';
        for(let i=0; i<itemsMenulv3.length; i++){
            if(itemMenulv2.id == itemsMenulv3[i].menulv2[0]){
                html += `<ul class="sub-menu-container">` ;
                break;
            }
        };
        itemsMenulv3.forEach((item3) =>{
            if(itemMenulv2.id == item3.menulv2[0]){
                html += `<li class="menu-item"><a class="menu-link" href="/category/${itemMenulv1.slug+'/'+itemMenulv2.slug+'/'+item3.slug}"><div>${item3.name}</div></a></li>`;
            }
        });
        for(let i=0; i<itemsMenulv3.length; i++){
            if(itemMenulv2.id == itemsMenulv3[i].menulv2[0]){
                html += `</ul>` ;
                break;
            }
        };
        
        return html;
    }
%> 